service: room

provider:
  name: aws
  runtime: python3.6
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:DescribeTable
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource: "arn:aws:dynamodb:us-east-1:*:table/Room*"

functions:
  createRoom:
    handler: createRoom.handler
    events:
      - http:
          path: room/create
          method: post
          authorizer:
            arn: arn:aws:cognito-idp:us-east-1:906644655132:userpool/us-east-1_v9CT8tYOc
          cors:
            origins:
              - '*'
            headers:
              - Content-Type
              - Authorization
            allowCredentials: true
  getRooms:
    handler: getRooms.handler
    events:
      - http:
          path: room/fetch
          method: get
          authorizer:
            arn: arn:aws:cognito-idp:us-east-1:906644655132:userpool/us-east-1_v9CT8tYOc
          cors:
            origins:
              - '*'
            headers:
              - Content-Type
              - Authorization
            allowCredentials: true

resources:
  Resources:
    RoomTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: Room
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
          - AttributeName: puzzleType
            AttributeType: S
          - AttributeName: createdAt
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
        GlobalSecondaryIndexes:
          - IndexName: puzzleType-createdAt
            KeySchema:
              - AttributeName: puzzleType
                KeyType: HASH
              - AttributeName: createdAt
                KeyType: RANGE
            Projection:
              ProjectionType: ALL
            ProvisionedThroughput:
              ReadCapacityUnits: 1
              WriteCapacityUnits: 1
