.login-page-spinner-container {
  position: relative;
  top: 30px;
  right: 30px;
}

.login-page-go-to-sign-up-message {
  text-align: center;
  font-size: 17px;
  color: #FC4A1A;
  margin: 5px;
}

.login-page-sign-up-page-link {
  cursor: pointer;
}
