.sign-up-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 150px;
}

.sign-up-page-skip-message {
  text-align: center;
  font-size: 17px;
  color: #FC4A1A;
  margin: 5px;
}

.sign-up-page-skip-link {
  cursor: pointer;
}
