.app-header-container {
  text-align: center;
  display: flex;
  align-items: center;
}

.app-header-title {
  flex: 1;
  color: #FC4A1A;
  font-size: 50px;
  margin: 20px;
}

.app-header-logout {
  position: absolute;
  left: 25px;
  color: #FC4A1A;
  font-size: 15px;
  cursor: pointer;
  padding: 15px;
}

.app-header-github-container {
  position: absolute;
  top: 5px;
  right: 10px;
  border: 0;
}

.app-header-github-link-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
